upstream api {
    {{ range $server := .apollo_api }}
    server {{ $server.Value }};
    {{ end }}
}

server {
    listen 80;

    {{ if eq "production" .apollo_environment }}
    server_name api.apollolab.com.br;
    {{ else }}
    server_name {{ .apollo_environment }}.api.apollolab.com.br;
    {{ end }}

    location / {
        proxy_pass         http://api;
        proxy_redirect     off;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
	}
}
