upstream api {
    {{ range $server := .apollo_registry }}
    server {{ $server.Value }};
    {{ end }}
}

server {
    listen 80;

    {{ if .apollo_environment == "production" }}
    server_name registry.apollolab.com.br;
    {{ else }}
    server_name {{ .apollo_environment }}.registry.apollolab.com.br;
    {{ end }}

    location / {
        proxy_pass         registry;
        proxy_redirect     off;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
	}
}
